version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    volumes:
      - ./:/app:cached
      - /app/node_modules
    command: pnpm dev
    # Use this if you keep env files
    # env_file:
    #   - .env.local
